@media (min-width: 500px) {
    .VPDoc .container {
        display: flex !important;
        justify-content: center !important;
    }

    .VPDoc .aside {
        display: block !important;
    }
    .VPLocalNav {
        display: none !important;
    }
    .VPDoc>.container>.content{
        padding: 0 20px;
    }
    /* .content{
        background-color: ;
    } */
}


.VPNavBarExtra {
    display: none !important;
}

.VPNavBarAppearance {
    display: flex !important;
}

.VPNavBarSocialLinks {
    display: flex !important;
}

.VPNavBarSocialLinks::before {
    height: unset !important;
}
.VPContent.is-home{
    padding: 0;
}
.is-home>.VPHome>.vp-doc{
    padding: 0;
    margin: unset;
}
html {
    scroll-behavior: smooth;
}

/* 当页面处于深色主题时（html 有 class="dark"） */
html.dark .logo {
    filter: invert(1);
    /* 取反色（白色） */
}
.aside{
    padding-left: 0 !important;
}
.container{
    margin: unset;
}


.custom-hidden .VPNav,
.custom-hidden .VPLocalNav,
.custom-hidden .VPDocFooter,
.custom-hidden aside,
.custom-hidden .aside-container {
  display: none !important;
}
.custom-hidden .VPContent{
    font-size: .8em;
}